* {
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "Iosevka NF";
  font-size: 14px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  /* background-color: #1e1e2e; */
  /* background-color: #181825; */
  background-color: #181818; /* gruber-darker-bg-1 */
  /* background-color: rgba(24, 24, 37, 0.6); */
}

#workspaces {
    background-color: transparent;
    margin: 0.6rem 0;
}

#workspaces button {
    border: none;
    border-radius: 50%;
    min-height: 14px;
    min-width: 18px;
    margin: 0 5px;
    padding: 0;
    background-color: #e4e4ef;
    color: #e4e4ef;
    transition: all 0.3s ease;
}

#workspaces button:hover {
  background-color: #f1d5a7;
}

#workspaces button.active {
    min-width: 34px;
    background-color: #cc8c3c;
    color: #cc8c3c;
    border-radius: 9px;
}

#workspaces button.active + button {
    min-width: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    background-color: transparent;
    border: none;
}

#workspaces button.urgent {
  background-color: #282828; /* gruber-darker-bg */
  color: #f43841; /* gruber-darker-red */
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-notification,
#cpu,
#tray,
#memory,
#window {
  padding: 0.0rem 0.6rem;
  margin: 0.6rem 0;
}

#custom-sep {
  padding: 0px;
  color: #453d41; /* gruber-darker-bg+2 */
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: #e4e4ef; /* gruber-darker-quartz */
}

#memory {
  color: #e4e4ef; /* gruber-darker-wisteria */
}

#clock {
  color: #e4e4ef; /* gruber-darker-niagara */
}

#window {
  color: #e4e4ef; /* gruber-darker-fg */
}

#pulseaudio {
  color: #e4e4ef; /* gruber-darker-wisteria */
}

#pulseaudio.muted {
  color: #565f73; /* gruber-darker-niagara-1 */
}

#custom-logo {
  color: #e4e4ef; /* gruber-darker-niagara */
}


#custom-notification {
    padding-left: 0.6rem;
    padding-right: 0.3rem;
    color: #e4e4ef;
}

#custom-power {
    padding-left: 0.6rem;
    padding-right: 0.3rem;
  color: #f43841; /* gruber-darker-red */
}

tooltip {
  background-color: #181818; /* gruber-darker-bg */
  border: 2px solid #96a6c8; /* gruber-darker-niagara */
}


tooltip label {
  color: #e4e4ef; /* gruber-darker-fg */
}
