window {
    font-family: "Iosevka NF";
    border: 1px solid #e4e4ef;
    background-color: #181818;
    font-size: 14px;
}

#input {
    display: none;
    margin: -1000px 5px;
}

#text {
    margin: 5px;
}

#entry:selected {
    background-color: #181818;
    border: 1px solid #cc8c3c;
}
