window {
    font-family: "Iosevka NF";
    background-color: #181818;
    font-size: 14px;
    border: 1px solid #383838;
}

#input {
    margin: 1px;
    background-color: #181818;
}

#text {
    margin: 5px;
}

#entry:selected {
    background-color: #181818;
    border: 1px solid #383838;
}
